extends layout

block content
  include mixins/pokeCard
  h1 Pokemon Card Maker
  br
  div.background
    a.button(href="create") Create a Card
    div.card-space
      each card in cards
        +pokeCard(card)
    br